/* Buttons */

.btn:hover {
  outline: none;
}

.btn {
  background-color: var(--color_black);
  
  outline-style: none;
  border: none;
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.btn-small {
  padding: 8px 26px;
  font-size: 12px;
}

.btn-medium {
  padding: 12px 60px;
  font-size: 18px;
}





/* Divider */

.divider {
  margin-top: 70px;
  color: var(--background-color-light);
  border-bottom: 1px solid var(--background-color-light);
  width: var(--width-12col);
  margin: 0 auto;
}

.new-section {
  margin-top: 70px;
}