/* Buttons */

.btn:hover {
  outline: none;
}

.btn {
  background-color: var(--color_black);
  outline-style: none;
  border: none;
  color: var(--color-light);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
}

.btn-small {
  padding: 8px 26px;
  font-size: 12px;
}

.btn-medium {
  padding: 12px 60px;
  font-size: 18px;
}

.btn-inversed-with-icon {
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    gap: .5rem;
    padding: 4px 12px;
    font-size: 16px;
    outline-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: var(--secondary-color);
    background-color: var(--background-color-dark-bg);
}





/* Divider */

.divider {
  margin-top: 70px;
  color: var(--background-color-light);
  border-bottom: 1px solid var(--background-color-light);
  width: var(--width-12col);
  margin: 0 auto;
}

.new-section {
  margin-top: 70px;
}

.border-top {
  border-top: 1px solid var(--background-color-light);
}
/* Anchors */

.ext_link {
  color: var(--color-black);
  opacity: 75%;
  text-decoration: none;
}

.ext_link_white {
  color: var(--color-light);
  text-decoration: underline;
}

/* BACKGROUNDS */

.white-bg {
    background-color: var(--color-background-light);
}

.grey-bg {
    background-color: var(--color_black);
}



/* Flex */
.flex {
  display: flex;
}

/* Colors */

.primary {
  color: var(--primary-color);
}

.bolded {
  font-weight: 800;
}