* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: 1px solid #f00 !important;
    
}

body,html {
    width: var(--width-full);
    position: relative;
    background-color: var(--background-color-dark-bg);
}
