.image_section {
  position: relative
}

.image_section_image {
  position: relative;
  margin-top: 180px;
  height: 800px;
  width: 100%;
  background-image: url(../../images/index/category_section_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 /*  background-position: 90% 60%; */
  background-position: center 50%;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.image_section_content_area {
  position: absolute;
  padding: 45px 80px 45px 20px;
  border-radius: 5px;
  top: 50%;
  left: 70%;
  background-color: var(--background-color-light);
}

.image_section_content_area_headline {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 25px;
  padding-bottom: 20px;
}

.image_section_content_area_text {
  color: var(--color-black);
  opacity: 70%;
}

@media (max-width: 1334px) {
  .image_section_content_area {
    left: 65%;
  }
}

@media (max-width: 1110px) {
  .image_section_content_area {
    left: 55%;
  }
}


@media (max-width: 870px) {
  .image_section_content_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
  }
}

@media (max-width: 344px) {
  .image_section_content_area {
    padding: 20px 35px;
  }
}

@media (max-width: 870px) {
  .image_section_content_area_headline {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 870px) {
  .image_section_content_area_text {
    font-size: 14px;
    text-align: center;
  }
}

