.kitchen_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.kitchen_area_headline {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}

.kitchen_area_button {
  margin-top: 3rem;
  padding-top: 1.2rem;
  text-transform: uppercase;
}

.kitchen_area_title {
  border-left: 2px solid var(--primary-color);
  padding-left: 10px;
  font-weight: 700;
  font-size: 16px;
  opacity: 85%;
}

.kitchen_area_text {
  opacity: 70%;
}

.kitchen_area_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 100px;
  width: 600px;
  height: 400px;
}

.kitchen_area_image {
  width: 600px;
  height: 400px;
}

.kitchen_area_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.kitchen_area_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (max-width:1200px) {
  .kitchen_area_image, 
  .kitchen_area_text_container {
    width: 500px;
    height: 300px;
  }
}

@media (max-width:1010px) {
  .kitchen_area_image, 
  .kitchen_area_text_container {
    width: 400px;
    height: 250px;
  }
}

@media (max-width:800px) {
  .kitchen_area_image, 
  .kitchen_area_text_container {
    width: 350px;
    height: 200px;
  }
}



@media (max-width:1200px) {
  .kitchen_area_text_container {
    font-size: 14px;
  }
}

@media (max-width:1010px) {
  .kitchen_area_text_container {
    font-size: 12px;
  }
}

@media (max-width:800px) {
  .kitchen_area_text_container {
    padding-left: 20px;
    font-size: 12px;
  }
}

@media (max-width:1200px) {
  .kitchen_area_headline {
    font-size: 26px;
  }
}

@media (max-width:1010px) {
  .kitchen_area_headline {
    font-size: 20px;
  }
}

@media (max-width:800px) {
  .kitchen_area_headline {
    font-size: 16px;
  }
}

@media (max-width:1200px) {
  .kitchen_area_title {
    font-size: 14px;
  }
}

@media (max-width:1010px) {
  .kitchen_area_title {
    font-size: 12px;
  }
}

@media (max-width:800px) {
  .kitchen_area_button {
    margin-top: 1rem;
    padding-top: 1.2rem;
    text-transform: uppercase;
  }
}

@media(max-width: 700px) {
  .kitchen_area_container {
    flex-direction: column-reverse;
  }
}

@media (max-width:700px) {
  .kitchen_area {
    gap: 2rem;
  }
}