/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

/* :root {
     Dimensions
    --width-full: 100%;
    --width-12col: 1200px; 

    grid settings
    --grid-gap: 10px;
    --padding-default:20px;

    colours 
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg:#111111;
    --primary-color:#bf5b23;
    --secondary-color:#ffffff;
    --color_black: #373737;
    --color-light:#ebebeb;
    --color-grey:#ffffffb3;

     color swatches
    --category-seafood: #3e30e2;
    --category-chicken: #249cbe;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9A951E;
    --category-pasta: #BF5B23;
    
} */

.navigation, .hero, .image-section, .footer {
    width: var(--width-full);
}

.todays_recipes, .categories, .content-area{

    width: var(--width-12col);

}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding:30px 0 30px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;


}

.navigation.fixed {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100%;

}

.menu-container{
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;

}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
    

}

.menu-container ul li{
    border-right: 1px solid var(--background-color-light);

}


.menu-container ul li:last-child {
border-right: none;

}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.clicked {
    color: var(--primary-color) !important;
}

.hero{
    background-image: url("https://picsum.photos/1200/800");
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text {
    grid-column: 1 / span 4 ;
    grid-row: 1;
    margin: 200px 0 0 0;
    text-transform: uppercase;
}

.hero-text h1 {
    margin: 15px 0;
    font-size: 32px;
    font-weight: 300;
}

.hero-text h1 span {
    font-weight: 900;
    font-size: 37px;
}

.hero-text p {
    font-size: 12px;
}

.search-box {
    grid-column: 2 / span 3;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.search-input {
    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}

.search-input::placeholder {
    color: var(--background-color-light);
}

.todays_recipes {
    display: grid;
    width: var(--width-12col);
    height: fit-content;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.todays_recipes_image {
    width: 46px;
    height: 31px;
}

.todays_recipes_content_block_image img {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.todays_recipes_headline {
    display: flex;
    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 70px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.todays_recipes_content {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.todays_recipes_content_block {
    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.todays_recipes_content_block_text {
    padding: 20px;
    color: var(--color_black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todays_recipes_content_block_text h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.todays_recipes_content_block_text p {
    font-size: 16px;
}

.todays_recipes_content_block_bottom_area {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.todays_recipes_content_block_bottom_area_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.todays_recipes_content_block_text_area_left p {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.todays_recipes_content_block_text_area_left p:last-child {
    font-weight: 500;
}

.todays_recipes_content_block_text_top {
    margin-bottom: 20px;
}

.todays_recipes_content_block_text_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meats-border {
    border-left: 2px solid var(--category-meats);  
    padding-left: 10px;
}

.chicken-border {
    border-left: 2px solid var(--category-chicken);  
    padding-left: 10px;
}

.dessert-border {
    border-left: 2px solid var(--category-dessert);  
    padding-left: 10px;
}
.seafood-border {
    border-left: 2px solid var(--category-seafood);  
    padding-left: 10px;
}



p[data-category="seafood"] {
    color: var(--category-seafood);
}

p[data-category="chicken"] {
    color: var(--category-chicken);
}

p[data-category="dessert"] {
    color: var(--category-dessert);
}

p[data-category="meats"] {
    color: var(--category-meats);
}


.todays_recipes_content_block_bottom_area_right_button button {
    background-color: var(--color_black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px;
}

.todays_recipes_content_block_bottom_area_right_button button a {
    color: var(--color-grey);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400; 
}

.hero-search-page {
  background-color: var(--background-color-dark);
  background-image: linear-gradient(0deg, #ededed00, #ededed07);
  min-height: 450px;
  padding-top: 50px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  color: var(--background-color-light);
  margin: 0;
  border-bottom: 1px solid var(--background-color-dark);
}

.search-box-search-page {
  grid-column: 1 / span 4;
  grid-row: 2;
  margin: 60px 0 0 0;
}

.search-input {
  background-color: transparent;
  padding: 10px 20px 10px 40px;
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  outline: none;
  color: var(--background-color-light);
  margin: 0 0 10px 0;
}

.search-input::placeholder {
  color: var(--color-light);
}

.fullsearch-headliner {
  width: 100%;
  color: var(--color-light);
  margin: 0 0 15px 0;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.filter-category-checkbox {
  background-color: var(--background-color-dark);
  background-image: linear-gradient(90deg, #ededed11, #ededed07);
  grid-column: 6 / span 7;
  grid-row: 2;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  height: 240px;
  border-radius: 5px;
}

.filter-category-checkbox h3 {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}


/* Radio */
.filter-category-checkbox label {
  display: flex;
  align-items: center;
  margin: 0px 0px;
  color: var(--background-color-light);
  font-size: 14px;
  font-weight: 100;
  width: 50%;
  height: 20px;
}

.filter-category-checkbox input[type="radio"] {
  margin-right: 10px;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  border: 2px solid var(--color-light);
  cursor: pointer;
}

.filter-category-checkbox input[type="radio"]#chicken {
  accent-color: var(--category-chicken);
}

.filter-category-checkbox input[type="radio"]#seafood {
  accent-color: var(--category-seafood);
}
/* 
.filter-category-checkbox input[type="radio"]#dessert {
  accent-color: var(--category-dessert);
}

.filter-category-checkbox input[type="radio"]#meats {
  accent-color: var(--category-meats);
} */