header {
  margin-top: 200px;
}

.border {
  border: 1px solid var(--primary-color);
}

.hero-contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
}

.hero-text-contact h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

input:not(:last-child), textarea {
  color: var(--color-light);
  padding: 16px 300px 16px 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--color_black);
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

section {
  padding: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: start;
  color: var(--color-light);;
}

.form-text {
  letter-spacing: .5px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: start;
  width:490px;
  gap: 20px;
}

::placeholder {
  color: var(--color-light);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.send {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--color-light);
  border-radius: 5px;
  outline: none;
  border:none;
  transition: all 0.2s linear;
  cursor: pointer;
}