/* .bonus_section {
  display: flex;
  margin-top: 600px;
  justify-content: space-between;
  align-items: start;
}

.bonus_section_instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  line-height: 2rem;
}

.bonus_section_instructions_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 3rem;
}

.bonus_section_instructions_steps {
  display: flex;
  width: 130px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 17%;
  display: inline-block;
  transform: rotate(-90deg);
  transform-style: preserve-3d;
} */

.bonus_section {
  position: relative;
  margin-top: 600px;
  width: var(--width-12col);
}

.bonus_section::before {
  content: "";
  position: absolute; 
  top: 60px;
  left: 60px;
  right: 0;
  height: 2px;
  background-color: #f0f0f0;
}

.bonus_section_instructions_section, 
.bonus_section_ingredients {
  flex: 1;
  padding: 20px 60px;
}

.bonus_section_ingredients_list, 
.bonus_section_instructions_list {
  margin-top: 50px;
  list-style: none;
}

.bonus_section_ingredients_list li {
  margin-bottom: 10px;
}

.bonus_section_instructions {
  display: flex;
  margin-bottom: 30px;
}

.bonus_section_instructions p {
  line-height: 26px;
}

.bonus_section_instructions_steps {
  writing-mode: sideways-lr;
  text-transform: uppercase;
  width: 25px;
  text-align: center;
  margin-right: 15px;
  letter-spacing: .17em;
}


