.bonus_section {
  position: relative;
  margin-top: 600px;
  width: var(--width-12col);
}

.bonus_section::before {
  content: "";
  position: absolute; 
  top: 60px;
  left: 60px;
  right: 0;
  height: 2px;
  background-color: #f0f0f0;
}

.bonus_section_instructions_section, 
.bonus_section_ingredients {
  flex: 1;
  padding: 20px 60px;
}

.bonus_section_ingredients_list, 
.bonus_section_instructions_list {
  margin-top: 50px;
  list-style: none;
}

.bonus_section_ingredients_list li {
  margin-bottom: 10px;
}

.bonus_section_instructions {
  display: flex;
  margin-bottom: 30px;
}

.bonus_section_instructions p {
  line-height: 26px;
}

.bonus_section_instructions_steps {
  writing-mode: sideways-lr;
  text-transform: uppercase;
  width: 25px;
  text-align: center;
  margin-right: 15px;
  letter-spacing: .17em;
}

@media (max-width:1200px) {
  .bonus_section {
    width: 1100px;
  }
}

@media (max-width:1100px) {
  .bonus_section {
    width: 1000px;
  }
}

@media (max-width:1000px) {
  .bonus_section {
    width: 900px;
  }
}

@media (max-width:900px) {
  .bonus_section {
    width: 800px;
  }
}

@media (max-width:700px) {
  .bonus_section {
    width: 600px;
  }
}

@media (max-width:1106px) {
  .bonus_section_ingredients h2,
  .bonus_section_instructions_section h2 {
    font-size: 26px;
  }
}

@media (max-width:912px) {
  .bonus_section_ingredients h2,
  .bonus_section_instructions_section h2 {
    font-size: 22px;
  }
}

@media (max-width: 912px) {
  .bonus_section_instructions,
  .bonus_section_ingredients_list {
    font-size: 14px;
  }
}

